.blocks {
 margin: 0;
 padding: 0;
 list-style: none;
 text-align: center;
}
.blocks button {
 display: inline-block;
 width: 32px;
 height: 32px;
}
.block_1 {
 background: #FF0000;
}
.block_2 {
 background: #FFFF00;
}
.block_3 {
 background: #008000;
}
.block_4 {
 background: #0000FF;
}
.block_5 {
 background: #800080;
}
.cat {
  text-align: center;
  background-color: #FF0000;
}
